doctype html
html
  head
    meta(charset='UTF-8')

    title Chloris Floral

    - var cdn = 'http://maxcdn.bootstrapcdn.com'
    link(rel='stylesheet'
      href=cdn + '/font-awesome/4.2.0/css/font-awesome.min.css')

    - var cdn = 'http://cdnjs.cloudflare.com/ajax/libs'
    link(rel="stylesheet"
      href=cdn + "/nanogallery/5.3.0/css/nanogallery.min.css")
    link(rel="stylesheet"
      href=cdn +
        "/nanogallery/5.3.0/css/themes/light/nanogallery_light.min.css")
    link(
      href='http://fonts.googleapis.com/css?family=Josefin+Sans|Special Elite'
      rel='stylesheet' type='text/css')
    link(rel="stylesheet", href="style.css")

  body
      #background
        img(src='images/background.png')

      #content
        #header
          .social
            a.facebook(target='_blank' title='Visit us on Facebook'
              href='https://www.facebook.com/pages' +
              '/Chloris-Floral/830014150352574')
              span.fa.fa-facebook

            a.instagram(target='_blank' title='Visit us on Instagram'
              href='http://instagram.com/chlorisfloral')
              span.fa.fa-instagram

            a.email(target='_blank' title='Contact by email'
              href='email:info@chlorisfloral.com')
              span.fa.fa-envelope

          a(href='#')
            img(src='images/chloris_floral-logo.png')

          #menu
            ul

        #pages
          #home-page
            | Exclusively local & seasonal flowers.

          #about-page(title='About')
            include ./about.jade

          #portfolio-page(title='Portfolio')
            h1 Portfolio
            #gallery

          #csa-page(title='Flower CSA')
            include ./csa.jade

          #events-page(title='Events')
            include ./events.jade

          #contact-page(title='Contact')
            include ./contact.jade

        #footer
          .copyright
            | Copyright &copy; Chloris Floral, 2014-2015.

      - var cdn = 'http://cdnjs.cloudflare.com/ajax/libs'
      script(src=cdn + "/jquery/2.1.3/jquery.min.js")
      script(src=cdn + "/nanogallery/5.3.0/jquery.nanogallery.min.js")
      script(src="instafeed.min.js")
      script(src="main.js")
